body {
    margin:auto;
    position:relative;
    width:80%;
    padding: 0;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    background: #F8F8F8;
}
.menu {
   width: 100%;
   display: table;
   text-align: center;
   padding:10px;
}
a {
   color: #cc0000;
   font-family: helvetica;
   text-decoration: none;
   text-transform: uppercase;
   padding:8px;
}
p {
   font-family: 'IBM Plex Sans', sans-serif;
   text-align:center;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

